@model IT_Project_Management_System.Models.Task

@{
    IT_Project_Management_System.Models.Document document = new IT_Project_Management_System.Models.Document();
    document.TaskID = Model.TaskID;

}

<div class="bs-docs-section">
    @foreach (var item in Model.Documents)
    {

        <div class="row">
            <div class="col-lg-9">
                <div class="bs-component">
                    <div class="col-lg-8">
                        <a href="@Url.Content("~/UploadedFiles/" + item.FileName)" target="_blank">@Html.DisplayFor(modelItem => item.FileName)</a> @Html.DisplayFor(modelItem => item.UploadDate)
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bs-component">
                    @Ajax.ActionLink(Resources.Resource.Delete, "Delete", "Documents",
                          new { id = item.DocumentID, taskID = Model.TaskID },
                          new AjaxOptions
                          {
                              UpdateTargetId = "AttachmentAddDiv",
                              InsertionMode = InsertionMode.Replace,
                              HttpMethod = "GET",
                              Confirm = "Do you want to delete the Attachment?"

                          }, null)
                </div>
            </div>
        </div>
    }
</div>
@{Html.RenderPartial("~/Views/Documents/_PartialAttachmentAdd.cshtml", document);}

