@model IT_Project_Management_System.Models.Task
 
@{
    IT_Project_Management_System.Models.Document document = new IT_Project_Management_System.Models.Document();
    document.TaskID = Model.TaskID;

}

<div class="bs-docs-section">
    @foreach (var item in Model.Documents)
    {

        <div class="row">
            <div class="col-lg-11">
                <div class="bs-component">

                 

                    <a href="@Url.Content("~/UploadedFiles/" + item.FileName)" target="_blank">@Html.DisplayFor(modelItem => item.FileName)</a>


                </div>
            </div>
            <div class="col-lg-1">
                <div class="bs-component">
                    @Ajax.ActionLink(Resources.Resource.Delete, // <-- Text to display
                     "Delete", "Documents",
                     new { id = item.DocumentID, taskID = Model.TaskID },
                     new AjaxOptions
                     {
                         UpdateTargetId = "AttachmentAddDiv",
                         InsertionMode = InsertionMode.Replace, 
                         HttpMethod = "GET" 

                     },null)
                </div>
            </div>
        </div>
    }
</div>
@{Html.RenderPartial("~/Views/Documents/_PartialAttachmentAdd.cshtml", document);}

