<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    IT Project Management System
    <div>
        @RenderBody()
    </div>
    &copy; All rights reserved 2018
</body>
</html>
