<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/CSS/main.css")" />
</head>
<body>
    <header>
        IT Project Management System
        <nav>
            <a href="/projects/">Projects</a> |
            <a href="/users/">Users</a> |
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        &copy; All rights reserved 2018
    </footer>
</body>
</html>
