@model IT_Project_Management_System.Models.Task

@{
    IT_Project_Management_System.Models.Comment comment = new IT_Project_Management_System.Models.Comment();
    comment.CommentText = "";
    comment.TaskID = Model.TaskID;

}
@{Html.RenderPartial("~/Views/Comments/_PartialCommentAdd.cshtml", comment);}
<div class="bs-docs-section">
    @foreach (var item in Model.Comments)
    {

        <div class="row">
            <div class="col-lg-9">
                <div class="bs-component">
                    <p>@Html.DisplayFor(modelItem => item.User.FullName)  @Html.DisplayFor(modelItem => item.CommentDate)</p>
                    <div class="col-lg-8">
                        <p>@Html.DisplayFor(modelItem => item.CommentText)</p>
                        </div>
                    </div>
                </div>
            <div class="col-lg-3">
                <div class="bs-component">
                    @Ajax.ActionLink(Resources.Resource.Delete, "Delete", "Comments",
                         new { id = item.CommentID, taskID = Model.TaskID },
                         new AjaxOptions
                         {
                             UpdateTargetId = "CommentsAddDiv",
                             InsertionMode = InsertionMode.Replace,
                             HttpMethod = "GET",
                             Confirm ="Do you want to delete the Comment?"

                         }, null)
                  </div>
            </div>
        </div>
    }
</div>

