@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not Found</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")" type="text/css" />
</head>

<body>
    <header>
        <h2>IT Project Management System</h2>
    </header>

    <p>The Resource Not Found. Please go to the <a href="/">home</a> page</p>

    <footer id="footer" class="footer-copyright text-center">
        &copy; @Resources.Resource.Allrightsreserved2018
    </footer>
</body>
</html>
